.profile-image img{
    width: 150px;
    border-radius: 100px 100px;
    border: 2px solid #1890ff;
}
.profile-image {
    padding-top: 10px;
}


.profile-info h2.name {
    color: #1890ff;
}
.profile-contact h3{
    border: 2px solid #1890ff;
    margin: 0px 15px 0px 15px;
    border-radius: 50px 50px;
    font-weight: bold;
    color: #1890ff;
}

.ant-list-item{
    margin-left: 25px;
}
.profile-contact span{
   margin-left: 10px;
   font-weight: bold;
 }
 .ant-col-5{
    border-right: 2px solid #1890ff;
    text-align: center;
 }
 .soluoc{
     text-indent: 20px;
     font-weight: 500;
     font-size: 14px;
     margin-top: -7px;
     margin-left: 5px;
 }
 .advantage-title span{
     margin-left: 2px;
 }
 .advantage-title {
    text-indent: 13px;
    color: #1890ff;
    font-weight: bold;
}
.profile-title{
    text-indent: 13px;
    color: #1890ff;
    font-weight: bold;
}
.profile-title span{
    margin-left: 2px;
}
.about-me{
    margin-top: 20px;
}
.advantage li{
     font-weight: 500;
     font-size: 14px;
     list-style: none;
     text-indent: 13px;
}
.advantage div{
    margin-top: -7px;
}
.advantage {
    margin-top: -10px;
}
.advantage li span{
    margin-left: 4px;
}
.defect{
    margin-top: 2px; 
}
.defect li span{
    margin-left: 4px;
}
.defect li {
    font-weight: 500;
    font-size: 14px;
    list-style: none;
    text-indent: 13px;
}
.defect time-line {
    font-weight: 500;
    font-size: 14px;
    text-indent: 23px;
}
.defect div{
    margin-top: -7px;
}
.ant-steps-vertical {
    display: block;
    margin-left: 25px;
}
.ant-steps-item-title {
    font-weight: 500 !important;
}
.ant-steps {
    margin-left: 25px;
    margin-top: 15px;
    padding-right: 50px;
}
.circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: #ED8D8D;
    color: #fff;
    max-height: 50px;
    z-index: 2;
  }
  
  .how-it-works.row .col-2 {
    align-self: stretch;
  }
  .how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #ED8D8D;
    z-index: 1;
  }
  .how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
  }
  .how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
  }
  .how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
  }
    .project{
      margin-top: 20px;
  }
  .main-timeline{
    overflow: hidden;
    position: relative;
}
.main-timeline:before{
    content: "";
    width: 10px;
    height: 100%;
    border: 3px solid #959595;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.main-timeline .timeline{
    width: 50%;
    padding: 10px 60px 10px 100px;
    float: right;
    position: relative;
}
.main-timeline .timeline:before{
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #c47c48;
    border: 5px solid #fff;
    box-shadow: 0 0 1px 5px #c47c48;
    position: absolute;
    top: 42px;
    left: -20px;
}
.main-timeline .timeline-content{
    display: block;
    background: #e9e9e7;
    padding: 70px 30px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2) inset;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .year{
    display: block;
    width: 80%;
    height: 50px;
    background: #c47c48;
    padding: 0 0 0 50px;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    line-height: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4) inset;
    border-radius: 10px 10px 10px 0;
    position: absolute;
    top: 20px;
    left: -20px;
}
.main-timeline .year:before{
    content: "";
    border-top: 40px solid #c47c48;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    bottom: -60px;
    left: 0;
}
.main-timeline .title{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #4a4a4a;
}
.main-timeline .description{
    font-size: 14px;
    color: #6f6f6f;
    margin: 0 0 5px 0;
}
.main-timeline .timeline:nth-child(2n){
    padding: 10px 100px 10px 60px;
    text-align: right;
}
.main-timeline .timeline:nth-child(2n):before{
    left: auto;
    right: -20px;
}
.main-timeline .timeline:nth-child(2n) .year{
    padding-right: 50px;
    border-radius: 10px 10px 0 10px;
    left: auto;
    right: -20px;
}
.main-timeline .timeline:nth-child(2n) .year:before{
    border-left: none;
    border-right: 20px solid transparent;
    left: auto;
    right: 0;
}
.main-timeline .timeline:nth-child(2){ margin-top: 140px; }
.main-timeline .timeline:nth-child(odd){ margin: -140px 0 0 0; }
.main-timeline .timeline:nth-child(even){ margin-bottom: 60px; }
.main-timeline .timeline:first-child,
.main-timeline .timeline:last-child:nth-child(even){ margin: 0; }
.main-timeline .timeline:nth-child(2n):before{
    background: #1890ff;
    box-shadow: 0 0 1px 5px #1890ff;
}
.main-timeline .timeline:nth-child(2n) .year{ background: #bf3fc8; }
.main-timeline .timeline:nth-child(2n) .year:before{ border-top-color: #bf3fc8; }
.main-timeline .timeline:nth-child(3n):before{
    background: #ce3c41;
    box-shadow: 0 0 1px 5px #ce3c41;
}
.main-timeline .timeline:nth-child(3n) .year{ background: #ce3c41; }
.main-timeline .timeline:nth-child(3n) .year:before{ border-top-color: #ce3c41; }
.main-timeline .timeline:nth-child(4n):before{
    background: #8cc43d;
    box-shadow: 0 0 1px 5px #8cc43d;
}
.main-timeline .timeline:nth-child(4n) .year{ background: #8cc43d; }
.main-timeline .timeline:nth-child(4n) .year:before{ border-top-color: #8cc43d; }
@media only screen and (max-width: 990px){
    .main-timeline:before{ top: 8%; }
    .main-timeline .timeline{ padding: 10px 10px 10px 100px; }
    .main-timeline .timeline:nth-child(2n){ padding: 10px 100px 10px 10px; }
}
@media only screen and (max-width: 767px){
    .main-timeline:before{
        width: 8px;
        top: 0;
        left: 12px;
        transform: translateX(0);
    }
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even),
    .main-timeline .timeline:nth-child(odd){
        width: 100%;
        float: none;
        text-align: left;
        padding: 0 0 0 60px;
        margin: 0 0 30px 0;
    }
    .main-timeline .timeline:before,
    .main-timeline .timeline:nth-child(2n):before{
        width: 20px;
        height: 20px;
        border: 3px solid #fff;
        top: 38px;
        left: 6px;
    }
    .main-timeline .timeline:nth-child(2n) .year{
        right: auto;
        left: -20px;
        border-radius: 10px 10px 10px 0;
    }
    .main-timeline .timeline:nth-child(2n) .year:before{
        border-left: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: none;
        right: auto;
        left: 0;
    }
}

  

