.profile-image img{
    width: 150px;
    border-radius: 100px 100px;
    border: 2px solid #1890ff;
}
.profile-image {
    padding-top: 10px;
    text-align: center;
}


.profile-info h2.name {
    color: #1890ff;
}
.profile-contact h3{
    border: 2px solid #1890ff;
    margin: 0px 15px 0px 15px;
    border-radius: 50px 50px;
    font-weight: bold;
    color: #1890ff;
}

.ant-list-item{
    margin-left: 25px;
}
.profile-contact span{
   margin-left: 10px;
   font-weight: bold;
 }
 .ant-col-5{
    border-right: 2px solid #1890ff;
    text-align: center;
 }
 .soluoc{
     text-indent: 20px;
     font-weight: 500;
     font-size: 14px;
     margin-top: -7px;
     margin-left: 5px;
 }
 .advantage-title span{
     margin-left: 2px;
 }
 .advantage-title {
    text-indent: 13px;
    color: #1890ff;
    font-weight: bold;
}
.profile-title{
    text-indent: 13px;
    color: #1890ff;
    font-weight: bold;
}
.profile-title span{
    margin-left: 2px;
}
.about-me{
    margin-top: 20px;
    margin-bottom: 20px;
}
.advantage li{
     font-weight: 500;
     font-size: 14px;
     list-style: none;
     text-indent: 13px;
}
.advantage div{
    margin-top: -7px;
}
.advantage {
    margin-top: 20px;
    margin-bottom: 30px;
}
.advantage li span{
    margin-left: 4px;
}
.time-line {
    margin-top: 20px;
}
.defect{
    margin-top: 20px; 
    
}
.defect li span{
    margin-left: 4px;
}
.defect li {
    font-weight: 500;
    font-size: 14px;
    list-style: none;
    text-indent: 13px;
}
.defect time-line {
    font-weight: 500;
    font-size: 14px;
    text-indent: 23px;
}
.defect div{
    margin-top: -7px;
}
.ant-steps-vertical {
    display: block;
    margin-left: 25px;
}
.ant-steps-item-title {
    font-weight: 500 !important;
}
.ant-steps {
    margin-left: 25px;
    margin-top: 15px;
    padding-right: 50px;
}
.description{
    font-weight: 500;
    margin-left: 12px;
}


  

.ant-list-item {
    justify-content: start;
}