

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App{
  overflow-y: hidden;
  min-height: 100vh;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (min-width: 1024px){
  .col-pc-1-5{
    width: 30%;
    text-align: center;
    height: 100vh;
  }
  .col-pc-5-5{
    width: 70%;
    height: 100vh;
  }
} 
 @media screen and (min-width: 1080px){
  .col-pc-1-5{
    width: 20%;
    text-align: center;
    
  }
  .col-pc-5-5{
    width: 80%;
  }
}
@media screen and (max-width: 800px){
  .col-pc-1-5{
    width: 100%;
    text-align: center;
  }
  .col-pc-5-5{
    width: 100%;
  }
}
.grid {
  border-right: 2px solid #1890ff;
  float: left;
}
.introduce{
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

